{% extends 'user/base.html.twig' %}

{% from 'submission/_macros.html.twig' import submission %}
{% from 'comment/_macros.html.twig' import comment %}

{% block title user.username %}
{% block site_nav_user_menu_active 'profile' %}

{% block head %}
  {{ include('_includes/meta_pagination.html.twig', { pager: contributions }, with_context=false) }}
{% endblock %}

{% block body %}
  {{ include('user/_nav.html.twig', { current: page, user: user }, with_context=false) }}

  {% for contribution in contributions %}
    {% if contribution.title is defined %}
      {{ submission(contribution) }}
    {% else %}
      {{ comment(contribution, { show_context: true }) }}
    {% endif %}
  {% else %}
    <p class="no-entries">
      <small class="fg-muted text-md">{{ 'flash.no_entries_to_display'|trans }}</small>
    </p>
  {% endfor %}

  {{ include('_includes/pagination.html.twig', { pager: contributions }, with_context=false) }}
{% endblock body %}
